
<div class="row">
  <div class="col-md-6">
    <h3>March 5th</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td><td>Jennifer & Schuyler</td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/" target="_blank">Project Organization and Management</a></td><td>Jennifer Shelton</td> </tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/" target="_blank">Introduction to the Command Line</a></td><td>Jennifer Shelton</td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Data Wrangling and Processing</a></td><td>Schuyler Smith</td></tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>March 6th</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Continuation: Data Wrangling and Processing</a></td><td>Schuyler Smith</td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/" target="_blank">Introduction to Cloud Computing for Genomics</a></td><td>Jennifer Shelton</td></tr>
      <tr>
	<td></td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td><td>Jennifer & Schuyler</td>
      </tr>
      <tr>
	<td> </td>
      </tr>
    </table>
  </div>
</div>

