
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-genomics-project">Project Organization and Management</h3>
    <ul>
      <li><a href="https://datacarpentry.org/organization-genomics/01-tidiness/index.html" target="_blank">Data Tidiness</a></li>
      <li><a href="https://datacarpentry.org/organization-genomics/02-project-planning/index.html" target="_blank">Planning for NGS Projects</a></li>
      <li><a href="https://datacarpentry.org/organization-genomics/03-ncbi-sra/index.html" target="_blank">Examining Data on the NCBI SRA Database</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-genomics-wrangling">Data Wrangling and Processing for Genomics</h3>
    <ul>
      <li><a href="https://datacarpentry.org/wrangling-genomics/01-background/index.html" target="_blank">Background and Metadata</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/02-quality-control/index.html" target="_blank">Assessing Read Quality</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/03-trimming/index.html" target="_blank">Trimming and Filtering</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html" target="_blank">Variant Calling Workflow</a></li>
      <li><a href="https://datacarpentry.org/wrangling-genomics/05-automation/index.html" target="_blank">Automating a Variant Calling Workflow</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-genomics-unix">Introduction to the Command Line</h3>
    <ul>
      <li><a href="https://datacarpentry.org/shell-genomics/01-introduction/index.html" target="_blank">Introducing the Shell</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/02-the-filesystem/index.html" target="_blank">Navigating Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/03-working-with-files/index.html" target="_blank">Working with Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/04-redirection/index.html" target="_blank">Redirection</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/05-writing-scripts/index.html" target="_blank">Writing Scripts</a></li>
      <li><a href="https://datacarpentry.org/shell-genomics/06-organization/index.html" target="_blank">Project Organization</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-genomics-cloud">Introduction to Cloud Computing for Genomics</h3>
    <ul>
      <li><a href="https://datacarpentry.org/cloud-genomics/01-why-cloud-computing/index.html" target="_blank">Why Cloud Computing</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/02-logging-onto-cloud/index.html" target="_blank">Logging onto the Cloud</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/03-verifying-instance/index.html" target="_blank">Fine Tuning your Cloud Setup</a></li>
      <li><a href="https://datacarpentry.org/cloud-genomics/04-which-cloud/index.html" target="_blank">Which Cloud for my Data?</a></li>
    </ul>
  </div>
</div>


{% comment %}
Here is skeleton template of the HTML that can be used to add more entries
to this page

    <div class="col-md-6">
    <h3 id="syllabus-XXXX">XXXXX</h3>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    </div>
{% endcomment %}
